*{
    margin: 0;
    padding: 0;
    color: white;
}
.real-container{
    scroll-snap-type: y mandatory;
    height: 100vh;
    overflow-y: scroll;
}

.header{
    background-color: aqua;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.section{
    height: 100vh;
    overflow:auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    scroll-snap-align:start;
    position: relative;
}

.one{
    background-color: blueviolet;
}

.two{
    background-color: rgb(8, 130, 31);
}

.three{
    background-color: rgb(217, 49, 88);
}

.four{
    background-color: rgb(226, 168, 43);
}

.container{
    height: 300vh;
    width: 50vw;
    background-color: aqua;

}

p{
    font-size: 50px;
    margin: 200px;
}

.diff{
    background:yellowgreen;
    height:100vh;
    overflow: scroll;
}